h1 a {
    color: #fff;
}

h2{
  color: #B673C1;
}

p {
  color: #B673C1;
  padding 100 px;
}

.page-header {
    background-color: #B673C1;
    margin-top: 20 px;
    padding: 20px 20px 20px 40px;
}

body {
    padding-left: 15px;
}
